@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-roboto);
    /* @apply roboto bg-white text-black; */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
    @apply font-bold uppercase;
  }
  .h1 {
    @apply text-white text-7xl lg:text-[128px] tracking-[-3px];
  }
  .h2 {
    @apply text-[36px]
  }
   .h3 {
    @apply text-[32px]
  }
   .h4 {
    @apply text-[26px]
  }
  .h5 {
    @apply text-[22px]
  }
}

@theme {
  --color-brand: #d4000d;
  --color-primary: #333;
  --color-primary-100: #484848;
  --color-primary-200: #151515;
  --color-primary-300: #111;
}

.active{
  @apply text-brand;
}